html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}


body {
    min-height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to top left, #2d545e, #12343b);

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.wrapper {  
    width: 600px;                   /* i want this to be responsive to screen size ??????*/
    height: 355px;
    background-color: white;
    border-radius: 15px;
    padding: 30px 30px 25px;
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content {
    margin: 35px 0;
    height: 150px;
}

.content .quoteArea {
    display: flex;
    justify-content: center;
}

.quoteArea i {
    font-size: 15px;
}

.quoteArea i:first-child {
    margin: 3px 10px 0 0;
}

.quoteArea i:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}

.quoteArea .quoteText {
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}

.content .author {
    display: flex;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    justify-content: flex-end;
}

.author span:first-child {
    margin: -9px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons {
    margin-top: auto;
    border-top: 1px solid #ccc;
    min-height: 90px;
}

.buttons .features {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}

.features ul {
    display: flex;
}

.features ul li {
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;

    color: #2d545e;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    border: 2px solid #2d545e;
    cursor: pointer;

    transition: all 0.3s ease;
}

.features ul li:hover {
    color: white;
    background-color: #2d545e;
}

.features button {
    padding: 13px 22px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 30px;
    background: #2d545e;
}



/*
Night Blue: #2d545e

Night Blue Shadow: #12343b


*/