{% extends 'base.html' %}

{% block head %}

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}


{% block body %}
    <div class="wrapper">
        
        <header>Quote of the Day</header>
        
        <div class="content">
            <div class="quoteArea">
                <i class="fa fa-quote-left"></i>
                <p class="quoteText">{{ quoteText }}</p>
                <i class="fa fa-quote-right"></i>
            </div>
            
            <div class="author">
                <span>__</span>
                <span class="authorName">{{ authorText }}</span>
            </div>
        </div>

        <div class="buttons">

            <div class="features">
                <ul>
                    <form method="post">
                        <button name="text-to-speech" class="sound"><i class="fa fa-volume-up"></i></button>
                    </form>
                    <form method="post" >
                            <button name="copy-to-clipboard" class="copy"><i class="fa fa-copy"></i></button>
                    </form>
                </ul>
                <form method="post">
                    <button name="new-quote" type= "submit"> New Quote </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}